<!DOCTYPE html>
<html ng-app="app">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="scripts/input.js"></script>

    <head>
        <title>Ontology App</title>
    </head>

<body>
    <div class="jumbotron" style="margin-bottom:0px">
        <h1 class="header-margin">Ontology App</h1>
        <hr>
        <h2 class="header-margin"><small>Welcome to our Ontology App!</small></h2>
    </div>
        
    <div class="row">
        
        <div class="col-md-6 col-left-style">
            <h2 class="text-center">Intents</h2>
            <hr>
            <div class="div-margin-top" ng-controller="outputIntentsCtrl">
                <ul>
                    <li id="li-style" ng-repeat="i in intents_list">{{i}}</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6 col-right-style">
            <h2 class="text-center">Entities</h2>
            <hr>
            <div class="div-margin-top" ng-controller="outputEntitiesCtrl">
                <ul>
                    <li id="li-style" ng-repeat="e in entities_list">{{e}}</li>
                </ul>
            </div>
        </div>

    </div>

</body>

</html>