/*
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
*/

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}

.header-margin {
    margin-left: 20px
}

.div-margin-top {
    margin-top: 40px
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.col-left-style {
    background-color: #ebe0d2; 
    min-height: -webkit-calc(100vh - 250px);
    min-height: calc(100vh - 250px);
}

.col-right-style {
    background-color: #c0d7dd; 
    min-height: -webkit-calc(100vh - 250px);
    min-height: calc(100vh - 250px);
}

.col-central-style {
    width: 100%;
    min-height: -webkit-calc(100vh - 250px);
    min-height: calc(100vh - 250px);
    background-color: #ebe0d2; 
}

.preview-style {
    margin-left: 150px; 
    margin-right: 150px
}

#preview-margin {
    margin-left: 150px;
}

#choose-margin {
    margin-left: 20px;
}

#li-style {
    font-size:20px
}